In [2]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('car.csv')
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x_train, x_test, y_train, y_test = train_test_split(df[['brand','km_driven','fuel']], df['selling_price'], test_size=0.2, random_state=23)
x_train.head()

         brand  km_driven    fuel
3348    Toyota      72000  Petrol
5917  Mahindra     120000  Diesel
7349    Maruti     190000  Diesel
5517    Maruti      52000  Diesel
1756   Hyundai     120000  Petrol

In [8]:
#import column transfer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [9]:
transformer = ColumnTransformer(transformers=[
    ('brand', OneHotEncoder(), [0,2]),
], remainder='passthrough')

In [10]:
x_train_transformed = transformer.fit_transform(x_train) # fit is for training and transform is for testing 
x_train_transformed.shape

(6502, 35)

In [12]:
x_train_transformed.shape

(6502, 35)