In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"name": ['a','b','c','b','a','a','b','b'],"s1":[1,2,3,4,5,6,7,8],"s2":[1,2,3,4,5,6,7,8]})
df

  name  s1  s2
0    a   1   1
1    b   2   2
2    c   3   3
3    b   4   4
4    a   5   5
5    a   6   6
6    b   7   7
7    b   8   8

In [5]:
new_var = df.groupby('name').apply(lambda x: x['s1'].sum() + x['s2'].sum())
new_var

/tmp/ipykernel_41147/686531095.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  new_var = df.groupby('name').apply(lambda x: x['s1'].sum() + x['s2'].sum())

name
a    24
b    42
c     6
dtype: int64

In [9]:
np.random.seed(0)

In [4]:
new_var = df.groupby('name')['s1'].sum()
new_var

name
a    12
b    21
c     3
Name: s1, dtype: int64