In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('toy-data.csv')
df.sample(5)

    age  gender  fever   cough       city has_covid
28   16    Male  104.0    Mild    Kolkata        No
79   48  Female  103.0    Mild    Kolkata       Yes
57   49  Female   99.0  Strong  Bangalore        No
34   74    Male  102.0    Mild     Mumbai       Yes
0    60    Male  103.0    Mild    Kolkata        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

# Train test split

In [5]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,Y_train,Y_test = train_test_split(df.iloc[:,:-1],df['has_covid']) 
X_test.shape

(25, 5)

In [8]:
from sklearn.impute import SimpleImputer #sklearn.impute is used to fill missing values in the dataset

In [11]:
x_fever = SimpleImputer(strategy='mean') #mean is used to fill the missing values

X_simpleImput_fever = x_fever.fit_transform(X_train[['fever']])

X_simpleImput_fever

array([[101.  ],
       [100.  ],
       [104.  ],
       [102.  ],
       [ 98.  ],
       [ 98.  ],
       [103.  ],
       [ 98.  ],
       [ 99.  ],
       [102.  ],
       [100.75],
       [ 99.  ],
       [102.  ],
       [101.  ],
       [ 99.  ],
       [104.  ],
       [100.75],
       [101.  ],
       [ 98.  ],
       [104.  ],
       [100.  ],
       [ 98.  ],
       [100.  ],
       [ 99.  ],
       [101.  ],
       [102.  ],
       [102.  ],
       [103.  ],
       [104.  ],
       [100.75],
       [ 98.  ],
       [100.75],
       [100.  ],
       [101.  ],
       [101.  ],
       [101.  ],
       [100.  ],
       [ 99.  ],
       [100.75],
       [100.  ],
       [100.  ],
       [102.  ],
       [101.  ],
       [ 98.  ],
       [100.  ],
       [104.  ],
       [ 98.  ],
       [100.  ],
       [100.  ],
       [ 98.  ],
       [101.  ],
       [ 99.  ],
       [102.  ],
       [ 98.  ],
       [100.75],
       [103.  ],
       [104.  ],
       [101.  ],
       [101.  ],
       [104.  ],
       [101.  ],
       [103.  ],
       [ 98.  ],
       [104.  ],
       [101.  ],
       [103.  ],
       [102.  ],
       [ 98.  ],
       [101.  ],
       [102.  ],
       [ 98.  ],
       [103.  ],
       [ 98.  ],
       [100.75],
       [103.  ]])

In [12]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No